img{
    border-radius: 5%;
}
.picture{
    width: 100%;
    height: auto;
    margin: 1rem;
}

@media screen and (max-width: 576px) {
    .picture{
        margin: 0;
        padding: 0;
    }
    .pixdiv{
        padding: 0;
    }
}